@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
}

.heading-container {
  height: 15%;
  width: 96%;
}
.heading-container p {
  margin-top: 10px;
}
.heading {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
  color: darkslateblue;
  background-color: #ffffff59;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.notes-container {
  border-radius: 10px;
  width: 95%;
  min-height: 80%;
  margin: 20px 5px;
  background: rgb(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  padding: 20px;
  box-shadow: inset 0px 5px 10px rgb(255, 255, 255, 0.4);
}
.note-card {
  height: 200px;
  background-color: #00000059;
  margin: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255);
  text-align: left;
  padding: 17px;
  resize: none;
  outline: none;
  border: none;
  z-index: 10;
  font-size: medium;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}
.btn {
  height: 200px;
  background-color: #00000059;
  margin: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255);
  padding: 17px;
  resize: none;
  outline: none;
  border: none;
  z-index: 10;
  text-align: center;
  font-size: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}
.note-card:hover,
.note-card:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
.btn:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #00000059;
  transform: scale(0.92);
}
.note-card::placeholder {
  color: rgb(200, 196, 196);
}
